*{
	padding: 0;
	margin: 0;
}



#image-wrapper {
	width: 140px;
	position: relative;
	left: 80px;
	top: 30px;
}

#header {
	background: #aab6c4;
	color: #010080;
	height: 200px;
}
.col-md-9{
	font-weight: bold;
	font-size: 20px;
}

#navigation {
	background: #010066;
	color: #eecc50;
	padding: 15px;
	width: 100%;
}

#navigation li a {
	color: #eecc50;
	font-weight: bold;
}

.navbar{
	margin-bottom: 0;
}

/*contact*/
.container{
	background: #cddaea;
	max-width: 1200px;
	margin: 0 auto;
	
}

.blockquote{
	height: 80px;	
	border-color:#ffffff; 
}
.blockquote p{
	background: #ffffff;
	color: #337a8e;
	

}
/*footer*/
.container2{
	background:#000000;
}
.footer p{
	background: #000000;
	left: 20px;
	top:10px;
}


.col-md-4 p{
	color: blue;
	font-size: 15px;
}
.bottom{
	color:#ffffff;
	background: 
}

	
